.accountContainer_right {
    padding-left: 49px;
    width: 100%;
    padding-top: 32px;
    h1 {
        margin: 0;
        font-size: 25px;
        font-weight: 200;
        padding-bottom: 20px;
    }
    
    section {
        background-color: #ffffff;
        width: 831px;
        font-size: 16px;
        line-height: 1.78;
        margin-bottom: 15px;
        height: 103px;
        padding: 24px 20px;
        box-shadow: 0 4px 10px 0 rgba(0,0,0,.1);
        &:hover {
            box-shadow: 0 4px 13px 0 rgba(0,0,0,.2);
        }

        .sectionDiv {
            display: flex;
            justify-content: space-between;
            .sectionDivleft{
                .line1 {
                    margin-bottom: 20px;
                    font-size: 20px;
                    font-weight: 600;
                    color: rgb(0, 132, 137);
                }
                .password {
                
                }
            }
            .sectionDivright {
                margin-top: 20px;
                color: rgb(0, 132, 137);
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}