li {
    list-style: none;
}
a {
    text-decoration: none;
}
.account {
    height: 100%;
    width: 100%;
    background-color: #f9f9f9;;
}
.accountContainer {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    .accountContainer_left {
        width: 255px;
        box-shadow: 7px 0 8px #e9ebee;
        background: linear-gradient(90deg,#f8f7f9,#fff);
        display: table-cell;
        height: 450px;
        section {
            min-width: 255px;
            margin-top: 21px;
            font-size: 23px;
            line-height: 1.25;
            ul {
                li {
                    height: 50px;
                    &:hover {
                        background-color: rgb(0, 132, 120);
                        span {
                            color: #fff;
                            
                        }
                    }
                    a {
                        height: 100%;
                        span {
                            color: rgb(0, 132, 137);
                            text-align: center;
                            margin-left: 15px;
                            text-align: center;
                            margin: 15px;
                            
                        }
                    }
                }
            }
        }
    }
    
}

@media (min-width: 1100px){
.accountContainer {
    width: 1100px;
    padding: 0;

    .accountContainer_left {

    }
    }
}